body {
	background-color: lightgray;
}

.home, .contact, .buy {
	width: 100%;
	height: 100px;
	background-color: teal;
	display: inline;
	margin: 20px;
	padding: 20px;
	color: #fff;
	font-family: Ubuntu;
	font-size: 24px;
	font-weight: bolder;
}

.header {
	text-align: center;
	margin: 50px;
}

.modales {
	text-align: center;
}

.modal {
	margin: 20px;
	display: inline-flex;
}

.card-modal {
	border: 1px solid #000;
	width: 50vh;
	background-color: beige;
}

.title {
	padding-left: 20px;
	padding-right: 20px;
	font-family: Ubuntu;
	color: 
	font-size: 24px;
	font-weight: bolder;
}

.para {
	padding-left: 20px;
	padding-right: 20px;
	font-family: Ubuntu;
	color: 
	font-size: 16px;
	font-weight: lighter;
}

@media screen and (max-width: 700px) {
	.home, .contact, .buy {
		display: block;
		width: 50%;
	}
	.header {
		align-items: center;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		width: 75%;
	}
}